/*$fontPrimary: "Abel", sans-serif;
$fontSecoundary: "Marvel", sans-serif;
$fontThird: "Poppins", sans-serif;
$fontFourth: "Poiret One", cursive;*/
.remove-style-link {
  color: inherit;
  text-decoration: none !important;
}

.remove-style-link:hover {
  color: inherit;
  text-decoration: none !important;
}

.remove-style-link:active {
  color: inherit;
  text-decoration: none !important;
}

.remove-style-link:visited {
  color: inherit;
  text-decoration: none !important;
}

.remove-style-link:focus {
  color: inherit;
  text-decoration: none !important;
}

.remove-style-button {
  background: none;
  color: inherit;
  border: none;
  padding: 0;
  font: inherit;
  cursor: pointer;
  outline: inherit;
}

.remove-style-button:hover, .remove-style-button:focus {
  outline: none !important;
}

.bt, .bt--pr, .bt--pr--sm, .bt--pr--md, .bt--pr--lg, .bt--se, .bt--se--sm, .bt--se--md, .bt--se--lg, .bt--th, .bt--th--sm, .bt--th--md, .bt--th--lg {
  cursor: pointer;
  padding: 5px 15px;
  text-transform: uppercase;
  color: white !important;
  border: none;
  border-radius: 50px;
  outline: none !important;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: -webkit-transform 0.1s;
  transition: -webkit-transform 0.1s;
  transition: transform 0.1s;
  transition: transform 0.1s, -webkit-transform 0.1s;
  text-decoration: none !important;
  /*
    &:hover {
        transform: scale(1.1);
    }*/
}

.bt:hover, .bt--pr:hover, .bt--pr--sm:hover, .bt--pr--md:hover, .bt--pr--lg:hover, .bt--se:hover, .bt--se--sm:hover, .bt--se--md:hover, .bt--se--lg:hover, .bt--th:hover, .bt--th--sm:hover, .bt--th--md:hover, .bt--th--lg:hover {
  color: inherit;
  text-decoration: none !important;
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.bt:active, .bt--pr:active, .bt--pr--sm:active, .bt--pr--md:active, .bt--pr--lg:active, .bt--se:active, .bt--se--sm:active, .bt--se--md:active, .bt--se--lg:active, .bt--th:active, .bt--th--sm:active, .bt--th--md:active, .bt--th--lg:active {
  color: inherit;
  text-decoration: none !important;
}

.bt:visited, .bt--pr:visited, .bt--pr--sm:visited, .bt--pr--md:visited, .bt--pr--lg:visited, .bt--se:visited, .bt--se--sm:visited, .bt--se--md:visited, .bt--se--lg:visited, .bt--th:visited, .bt--th--sm:visited, .bt--th--md:visited, .bt--th--lg:visited {
  color: inherit;
  text-decoration: none !important;
}

.bt:focus, .bt--pr:focus, .bt--pr--sm:focus, .bt--pr--md:focus, .bt--pr--lg:focus, .bt--se:focus, .bt--se--sm:focus, .bt--se--md:focus, .bt--se--lg:focus, .bt--th:focus, .bt--th--sm:focus, .bt--th--md:focus, .bt--th--lg:focus {
  color: inherit;
  text-decoration: none !important;
}

.bt--pr, .bt--pr--sm, .bt--pr--md, .bt--pr--lg {
  background: linear-gradient(60deg, #9c07ff, #7b17c4);
}

.bt--pr--sm {
  font-size: 0.8em;
}

.bt--pr--md {
  font-size: 1.2em;
}

.bt--pr--lg {
  font-size: 1.6em;
}

.bt--se, .bt--se--sm, .bt--se--md, .bt--se--lg {
  background: linear-gradient(60deg, #00ffcd, #00c19a);
}

.bt--se--sm {
  font-size: 0.8em;
}

.bt--se--md {
  font-size: 1.2em;
}

.bt--se--lg {
  font-size: 1.6em;
}

.bt--th, .bt--th--sm, .bt--th--md, .bt--th--lg {
  background: linear-gradient(60deg, #ff7600, #d45e00);
}

.bt--th--sm {
  font-size: 0.8em;
}

.bt--th--md {
  font-size: 1.2em;
}

.bt--th--lg {
  font-size: 1.6em;
}
/*# sourceMappingURL=buttons.css.map */