/*$fontPrimary: "Abel", sans-serif;
$fontSecoundary: "Marvel", sans-serif;
$fontThird: "Poppins", sans-serif;
$fontFourth: "Poiret One", cursive;*/
.cd, .cd--one, .cd--two, .cd--three {
  text-align: center;
  widows: 100%;
  padding: 10px;
  margin-top: 30px;
  border-radius: 5px;
  background: white;
  -webkit-box-shadow: 0 0 15px 0px #b3b3b4;
          box-shadow: 0 0 15px 0px #b3b3b4;
}

.cd h1, .cd--one h1, .cd--two h1, .cd--three h1,
.cd h2,
.cd--one h2,
.cd--two h2,
.cd--three h2,
.cd h3,
.cd--one h3,
.cd--two h3,
.cd--three h3,
.cd h4,
.cd--one h4,
.cd--two h4,
.cd--three h4,
.cd h5,
.cd--one h5,
.cd--two h5,
.cd--three h5,
.cd h6,
.cd--one h6,
.cd--two h6,
.cd--three h6 {
  font-family: "Roboto", sans-serif;
  color: #000;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 100%;
}

.cd p, .cd--one p, .cd--two p, .cd--three p {
  font-family: "Raleway", sans-serif;
  color: #999999;
  font-size: 1.2em;
}

.cd .cd-image, .cd--one .cd-image, .cd--two .cd-image, .cd--three .cd-image {
  margin-top: -30px;
}

.cd .cd-image img, .cd--one .cd-image img, .cd--two .cd-image img, .cd--three .cd-image img {
  border-radius: 50%;
  display: block;
  margin: 0 auto;
  width: 120px;
  height: 120px;
}

.cd .cd-header, .cd--one .cd-header, .cd--two .cd-header, .cd--three .cd-header {
  -webkit-box-shadow: 0 0 15px 0px #b3b3b4;
          box-shadow: 0 0 15px 0px #b3b3b4;
  position: relative;
  font-size: 1.4em;
  color: white;
  font-family: "Raleway", sans-serif;
  text-align: center;
  padding: 10px;
  margin-top: -30px;
  border-radius: 10px;
  margin-bottom: 20px;
}

.cd .cd-header h1, .cd--one .cd-header h1, .cd--two .cd-header h1, .cd--three .cd-header h1,
.cd .cd-header h2,
.cd--one .cd-header h2,
.cd--two .cd-header h2,
.cd--three .cd-header h2,
.cd .cd-header h3,
.cd--one .cd-header h3,
.cd--two .cd-header h3,
.cd--three .cd-header h3,
.cd .cd-header h4,
.cd--one .cd-header h4,
.cd--two .cd-header h4,
.cd--three .cd-header h4,
.cd .cd-header h5,
.cd--one .cd-header h5,
.cd--two .cd-header h5,
.cd--three .cd-header h5,
.cd .cd-header h6,
.cd--one .cd-header h6,
.cd--two .cd-header h6,
.cd--three .cd-header h6 {
  font-family: "Raleway", sans-serif;
  color: white;
}

.cd--one .cd-header {
  background: linear-gradient(60deg, #9c07ff, #7b17c4);
}

.cd--two .cd-header {
  background: linear-gradient(60deg, #00ffcd, #00c19a);
}

.cd--two .table-default thead th {
  color: #00ffcd !important;
  border-color: #00ffcd !important;
}

.cd--two .table-default .dataTables_wrapper .dataTables_filter label input {
  border-color: #00ffcd !important;
}

.cd--two .table-default .dataTables_wrapper .dataTables_filter label input:focus {
  -webkit-box-shadow: 0 0 0 0.2rem rgba(0, 255, 205, 0.25) !important;
          box-shadow: 0 0 0 0.2rem rgba(0, 255, 205, 0.25) !important;
}

.cd--two .table-default .dataTables_wrapper .dataTables_paginate .page-item.active a {
  background: linear-gradient(60deg, #00ffcd, #00c19a);
  border-color: #00ffcd !important;
}

.cd--two .table-default .dataTables_wrapper .dataTables_paginate .page-link {
  color: #00ffcd !important;
}

.cd--two .table-default .dataTables_wrapper .dataTables_paginate .page-link:focus {
  -webkit-box-shadow: 0 0 0 0.2rem rgba(0, 255, 205, 0.25) !important;
          box-shadow: 0 0 0 0.2rem rgba(0, 255, 205, 0.25) !important;
}

.cd--two .form-default .block-input::before {
  border-bottom: 3px solid #00ffcd;
}

.cd--two .form-default .custom-control-input:not(:disabled):active ~ .custom-control-label::before {
  background-color: #00ffcd;
  border-color: #00ffcd;
}

.cd--two .form-default .custom-control-input:checked ~ .custom-control-label::before {
  background-color: #00ffcd;
  border-color: #00ffcd;
}

.cd--two .form-default .custom-control-input:focus ~ .custom-control-label::before {
  -webkit-box-shadow: 0 0 0 0.2rem rgba(0, 255, 205, 0.25);
          box-shadow: 0 0 0 0.2rem rgba(0, 255, 205, 0.25);
}

.cd--two .form-default .custom-control-input:focus:not(:checked) ~ .custom-control-label::before {
  border-color: #00ffcd;
}

.cd--three .cd-header {
  background: linear-gradient(60deg, #ff7600, #d45e00);
}

.cd--three .table-default thead th {
  color: #ff7600 !important;
  border-color: #ff7600 !important;
}

.cd--three .table-default .dataTables_wrapper .dataTables_filter label input {
  border-color: #ff7600 !important;
}

.cd--three .table-default .dataTables_wrapper .dataTables_filter label input:focus {
  -webkit-box-shadow: 0 0 0 0.2rem rgba(255, 118, 0, 0.25) !important;
          box-shadow: 0 0 0 0.2rem rgba(255, 118, 0, 0.25) !important;
}

.cd--three .table-default .dataTables_wrapper .dataTables_paginate .page-item.active a {
  background: linear-gradient(60deg, #ff7600, #d45e00);
  border-color: #ff7600 !important;
}

.cd--three .table-default .dataTables_wrapper .dataTables_paginate .page-link {
  color: #ff7600 !important;
}

.cd--three .table-default .dataTables_wrapper .dataTables_paginate .page-link:focus {
  -webkit-box-shadow: 0 0 0 0.2rem rgba(255, 118, 0, 0.25) !important;
          box-shadow: 0 0 0 0.2rem rgba(255, 118, 0, 0.25) !important;
}

.cd--three .form-default .block-input::before {
  border-bottom: 3px solid #ff7600;
}

.cd--three .form-default .custom-control-input:not(:disabled):active ~ .custom-control-label::before {
  background-color: #ff7600;
  border-color: #ff7600;
}

.cd--three .form-default .custom-control-input:checked ~ .custom-control-label::before {
  background-color: #ff7600;
  border-color: #ff7600;
}

.cd--three .form-default .custom-control-input:focus ~ .custom-control-label::before {
  -webkit-box-shadow: 0 0 0 0.2rem rgba(255, 118, 0, 0.25);
          box-shadow: 0 0 0 0.2rem rgba(255, 118, 0, 0.25);
}

.cd--three .form-default .custom-control-input:focus:not(:checked) ~ .custom-control-label::before {
  border-color: #ff7600;
}

.block-template-alternative {
  background: linear-gradient(60deg, #9c07ff, #7b17c4);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  min-height: 100%;
  overflow: hidden;
}
/*# sourceMappingURL=card.css.map */