/*$fontPrimary: "Abel", sans-serif;
$fontSecoundary: "Marvel", sans-serif;
$fontThird: "Poppins", sans-serif;
$fontFourth: "Poiret One", cursive;*/
.form-default input,
.form-default select,
.form-default textarea,
.form-default .custom-file {
  border: none;
  outline: none !important;
  width: 100%;
  font-size: 1.2em;
  margin-top: 0px;
  margin-bottom: 0px;
  color: #525f7f;
  margin-top: 15px;
  background: transparent;
}

.form-default .custom-file input {
  margin-top: 0 !important;
}

.form-default .custom-file label {
  text-align: left;
  border: none !important;
  -webkit-box-shadow: none !important;
          box-shadow: none !important;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.form-default .custom-file label::after {
  line-height: 1;
  background: #9c07ff;
  color: white;
}

.form-default .block-input-active::before {
  -webkit-transform: scale3d(1, 1, 1) !important;
          transform: scale3d(1, 1, 1) !important;
}

.form-default .block-input {
  margin-top: 0px;
  margin-bottom: 15px;
  border: none !important;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  position: relative;
  -webkit-box-shadow: inset 0px -2px 0px 0px #ccc;
          box-shadow: inset 0px -2px 0px 0px #ccc;
  padding-bottom: 5px;
}

.form-default .block-input::before {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  content: "";
  position: absolute;
  width: 100%;
  bottom: 0;
  left: 0;
  -webkit-transform-origin: center;
          transform-origin: center;
  border-bottom: 3px solid #9c07ff;
  -webkit-transform: scale3d(0, 1, 1);
          transform: scale3d(0, 1, 1);
  -webkit-transition: -webkit-transform 0.5s !important;
  transition: -webkit-transform 0.5s !important;
  transition: transform 0.5s !important;
  transition: transform 0.5s, -webkit-transform 0.5s !important;
}

.form-default .form-default .custom-control-input:not(:disabled):active
~ .custom-control-label::before {
  background-color: #9c07ff;
  border-color: #9c07ff;
}

.form-default .form-default .custom-control-input:checked ~ .custom-control-label::before {
  background-color: #9c07ff;
  border-color: #9c07ff;
}

.form-default .form-default .custom-control-input:focus ~ .custom-control-label::before {
  -webkit-box-shadow: 0 0 0 0.2rem rgba(156, 7, 255, 0.25);
          box-shadow: 0 0 0 0.2rem rgba(156, 7, 255, 0.25);
}

.form-default .form-default .custom-control-input:focus:not(:checked)
~ .custom-control-label::before {
  border-color: #9c07ff;
}
/*# sourceMappingURL=forms.css.map */