.panel-user-sidebar {
  width: 270px;
}

/*$fontPrimary: "Abel", sans-serif;
$fontSecoundary: "Marvel", sans-serif;
$fontThird: "Poppins", sans-serif;
$fontFourth: "Poiret One", cursive;*/
.remove-style-button, .header-nav button {
  background: none;
  color: inherit;
  border: none;
  padding: 0;
  font: inherit;
  cursor: pointer;
  outline: inherit;
}

.remove-style-button:hover, .header-nav button:hover, .remove-style-button:focus, .header-nav button:focus {
  outline: none !important;
}

.header {
  background: linear-gradient(60deg, #9c07ff, #7b17c4);
}

.header {
  width: 100% !important;
  height: 70px !important;
  padding: 5px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.panel-user-sidebar {
  background: white;
}

.context-header {
  width: 100%;
  height: 100%;
  text-align: right;
}

.context-header div {
  text-overflow: ellipsis;
  white-space: nowrap;
}

.header-nav {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0 10px;
  color: white;
}

.header-nav img {
  max-height: 60px;
}

.header-nav .item-nav {
  margin-left: 15px;
  margin-right: 15px;
  position: relative;
}

.header-nav .item-nav i {
  font-size: 1.4em;
}

.header-nav .item-nav .badge {
  position: absolute;
  top: -11px;
  right: -15px;
  min-width: 22px;
  height: 22px;
  line-height: 15px;
  font-size: 11px;
  background: red;
  color: white;
  border-radius: 11px;
}

.header-nav .dropdown-item {
  display: -webkit-box !important;
  display: -ms-flexbox !important;
  display: flex !important;
  color: #525f7f;
}

.header-nav .dropdown-item a {
  color: #525f7f;
}

.header-text {
  text-align: center;
  font-size: 1.8em;
  color: white;
  font-family: "Montserrat", sans-serif;
  line-height: 60px;
  display: none;
  overflow: hidden;
}

.header-menu {
  line-height: 60px;
  width: 40px;
  position: relative;
  cursor: pointer;
}

.header-menu .open-menu {
  position: absolute;
  display: block;
  margin-left: auto;
  outline: none !important;
  z-index: 999999;
}

@media (min-width: 576px) {
  .header-text {
    display: block;
  }
}

@media (min-width: 992px) {
  .open-menu {
    display: none !important;
  }
  .header-menu {
    display: none;
  }
}
/*# sourceMappingURL=header.css.map */