/*$fontPrimary: "Abel", sans-serif;
$fontSecoundary: "Marvel", sans-serif;
$fontThird: "Poppins", sans-serif;
$fontFourth: "Poiret One", cursive;*/
.remove-style-link {
  color: inherit;
  text-decoration: none !important;
}

.remove-style-link:hover {
  color: inherit;
  text-decoration: none !important;
}

.remove-style-link:active {
  color: inherit;
  text-decoration: none !important;
}

.remove-style-link:visited {
  color: inherit;
  text-decoration: none !important;
}

.remove-style-link:focus {
  color: inherit;
  text-decoration: none !important;
}

.remove-style-button, .modal-default .close-modal {
  background: none;
  color: inherit;
  border: none;
  padding: 0;
  font: inherit;
  cursor: pointer;
  outline: inherit;
}

.remove-style-button:hover, .modal-default .close-modal:hover, .remove-style-button:focus, .modal-default .close-modal:focus {
  outline: none !important;
}

.modal-default {
  background: transparent !important;
  border: none !important;
}

.modal-default .close-modal {
  color: white !important;
  -webkit-transition: -webkit-transform 0.1s;
  transition: -webkit-transform 0.1s;
  transition: transform 0.1s;
  transition: transform 0.1s, -webkit-transform 0.1s;
  display: inline-block;
  position: absolute;
  top: 5px;
  right: 5px;
}

.modal-default .close-modal:hover {
  -webkit-transform: scale(1.5);
          transform: scale(1.5);
}
/*# sourceMappingURL=modal.css.map */