.context-sidebar, .sidebar {
  width: 270px;
}

/*$fontPrimary: "Abel", sans-serif;
$fontSecoundary: "Marvel", sans-serif;
$fontThird: "Poppins", sans-serif;
$fontFourth: "Poiret One", cursive;*/
.remove-style-link, .item-sidebar, .item-sidebar-active, .drop-item-sidebar a {
  color: inherit;
  text-decoration: none !important;
}

.remove-style-link:hover, .item-sidebar:hover, .item-sidebar-active:hover, .drop-item-sidebar a:hover {
  color: inherit;
  text-decoration: none !important;
}

.remove-style-link:active, .item-sidebar:active, .item-sidebar-active:active, .drop-item-sidebar a:active {
  color: inherit;
  text-decoration: none !important;
}

.remove-style-link:visited, .item-sidebar:visited, .item-sidebar-active:visited, .drop-item-sidebar a:visited {
  color: inherit;
  text-decoration: none !important;
}

.remove-style-link:focus, .item-sidebar:focus, .item-sidebar-active:focus, .drop-item-sidebar a:focus {
  color: inherit;
  text-decoration: none !important;
}

.remove-style-button, .button-drop {
  background: none;
  color: inherit;
  border: none;
  padding: 0;
  font: inherit;
  cursor: pointer;
  outline: inherit;
}

.remove-style-button:hover, .button-drop:hover, .remove-style-button:focus, .button-drop:focus {
  outline: none !important;
}

.item-sidebar-active {
  background: linear-gradient(60deg, #9c07ff, #7b17c4);
}

.context-sidebar {
  position: fixed;
  top: 0;
  right: 0;
  -webkit-transform: translate3d(300px, 0, 0);
          transform: translate3d(300px, 0, 0);
  transition: all 0.5s;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  height: 100vh;
  z-index: 9999;
}

.open-sidebar {
  -webkit-transform: translateZ(0);
          transform: translateZ(0);
}

.sidebar {
  position: relative;
  height: 100%;
  padding: 0 15px;
  overflow: auto;
  -webkit-box-shadow: 0 16px 38px -12px rgba(0, 0, 0, 0.56), 0 4px 25px 0 rgba(0, 0, 0, 0.12), 0 8px 10px -5px rgba(0, 0, 0, 0.2);
          box-shadow: 0 16px 38px -12px rgba(0, 0, 0, 0.56), 0 4px 25px 0 rgba(0, 0, 0, 0.12), 0 8px 10px -5px rgba(0, 0, 0, 0.2);
}

.sidebar-background {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-image: url("/imageslaraveladmin/back/backsidebar.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  opacity: 0.2;
}

.image-user-sidebar {
  height: 100px;
  padding: 10px;
  padding-bottom: 0;
}

.image-user-sidebar img {
  max-width: 100%;
  max-height: 100%;
  display: block;
  margin: 0 auto;
}

.menu-sidebar {
  position: relative;
}

.context-item-sidebar {
  margin-bottom: 15px;
}

.item-sidebar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 18px;
  padding: 10px;
  cursor: pointer;
  font-family: "Lato", sans-serif;
  border-radius: 3px;
  font-weight: bold;
  color: #3c4858;
}

.item-sidebar i {
  margin-right: 10px;
}

.item-sidebar i {
  color: #3c4858;
  font-size: 25px;
}

.item-sidebar:hover {
  background: rgba(199, 199, 199, 0.6);
}

.item-sidebar-active {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 18px;
  padding: 10px;
  cursor: pointer;
  font-family: "Lato", sans-serif;
  border-radius: 3px;
  font-weight: bold;
  color: white;
}

.item-sidebar-active i {
  margin-right: 10px;
}

.item-sidebar-active i {
  color: white;
  font-size: 1.4em;
}

.button-drop {
  margin-left: auto;
  line-height: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.button-drop .hamburger-inner,
.button-drop .hamburger-inner::before,
.button-drop .hamburger-inner::after {
  background-color: #3c4858 !important;
  width: 18px !important;
  height: 3px !important;
}

.button-drop .hamburger-inner::before {
  top: -5px !important;
}

.button-drop .hamburger-inner::after {
  bottom: -5px !important;
}

.drop-item-sidebar {
  padding: 0 0 0 40px;
  width: 100%;
}

.drop-item-sidebar li {
  list-style: none;
  font-family: "Lato", sans-serif;
  font-size: 14.4px;
  font-weight: 300;
  padding: 5px 0;
  font-weight: bold;
}

@media (min-width: 992px) {
  .context-sidebar {
    position: relative;
    float: left;
    -webkit-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0);
  }
}

/*
// Extra small devices (portrait phones, less than 576px)
@media (min-width: 576px) {
}

// Small devices (landscape phones, less than 768px)
@media (min-width: 768px) {
}

// Medium devices (tablets, less than 992px)
@media (min-width: 992px) {
}

// Large devices (desktops, less than 1200px)
@media (min-width: 1200px) {
}
*/
/*# sourceMappingURL=sidebar.css.map */