/*$fontPrimary: "Abel", sans-serif;
$fontSecoundary: "Marvel", sans-serif;
$fontThird: "Poppins", sans-serif;
$fontFourth: "Poiret One", cursive;*/
.table-default thead th, .table-default .dataTables_wrapper .dataTables_length label, .table-default .dataTables_wrapper .dataTables_filter label, .table-default .dataTables_wrapper .dataTables_info, .table-default .dataTables_wrapper .dataTables_paginate {
  font-family: "Roboto", sans-serif;
  font-size: 1em;
}

.table-default .row {
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
}

.table-default thead th {
  color: #9c07ff;
  border-color: #9c07ff;
  border-top: none;
}

.table-default tbody {
  font-family: "Raleway", sans-serif;
  font-size: 1em;
}

.table-default .dtr-tittle,
.table-default .dtr-data {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.table-default .dataTables_wrapper .dataTables_length label {
  text-align: center !important;
}

.table-default .dataTables_wrapper .dataTables_filter {
  text-align: center !important;
}

.table-default .dataTables_wrapper .dataTables_filter label input {
  border-color: #9c07ff;
}

.table-default .dataTables_wrapper .dataTables_filter label input:focus {
  -webkit-box-shadow: 0 0 0 0.2rem rgba(156, 7, 255, 0.25);
          box-shadow: 0 0 0 0.2rem rgba(156, 7, 255, 0.25);
}

.table-default .dataTables_wrapper .dataTables_paginate {
  font-size: 1em !important;
  text-align: center !important;
}

.table-default .dataTables_wrapper .dataTables_paginate ul {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
}

.table-default .dataTables_wrapper .dataTables_paginate .page-item.active a {
  background: linear-gradient(60deg, #9c07ff, #7b17c4);
  border-color: #9c07ff;
  color: white !important;
}

.table-default .dataTables_wrapper .dataTables_paginate .page-link {
  color: #9c07ff;
}

.table-default .dataTables_wrapper .dataTables_paginate .page-link:focus {
  -webkit-box-shadow: 0 0 0 0.2rem rgba(156, 7, 255, 0.25);
          box-shadow: 0 0 0 0.2rem rgba(156, 7, 255, 0.25);
}

@media (min-width: 768px) {
  .table-default .dataTables_wrapper .dataTables_info {
    text-align: left !important;
  }
  .table-default .dataTables_wrapper .dataTables_length {
    text-align: left !important;
  }
  .table-default .dataTables_wrapper .dataTables_filter {
    text-align: right !important;
  }
  .table-default .dataTables_wrapper .dataTables_paginate {
    text-align: right !important;
  }
}
/*# sourceMappingURL=tabels.css.map */