/*$fontPrimary: "Abel", sans-serif;
$fontSecoundary: "Marvel", sans-serif;
$fontThird: "Poppins", sans-serif;
$fontFourth: "Poiret One", cursive;*/
.remove-style-link {
  color: inherit;
  text-decoration: none !important;
}

.remove-style-link:hover {
  color: inherit;
  text-decoration: none !important;
}

.remove-style-link:active {
  color: inherit;
  text-decoration: none !important;
}

.remove-style-link:visited {
  color: inherit;
  text-decoration: none !important;
}

.remove-style-link:focus {
  color: inherit;
  text-decoration: none !important;
}

.remove-style-button {
  background: none;
  color: inherit;
  border: none;
  padding: 0;
  font: inherit;
  cursor: pointer;
  outline: inherit;
}

.remove-style-button:hover, .remove-style-button:focus {
  outline: none !important;
}
/*# sourceMappingURL=variablesandutilities.css.map */