//Variables
@import "./scssaux/variablesandutilities.scss";
* {
    margin: 0;
    padding: 0;
}
body,
html {
    color: $colorFontDefault;
    height: 100%;
    ::-webkit-scrollbar {
        width: 10px;
    }

    ::-webkit-scrollbar-thumb {
        @include backLinearGradient(to bottom, $colorPrimary, $colorSecoundary);
    }
    ::placeholder {
        color: $colorFontDefault;
        opacity: 1; /* Firefox */
    }

    :-ms-input-placeholder {
        /* Internet Explorer 10-11 */
        color: $colorFontDefault;
    }

    ::-ms-input-placeholder {
        /* Microsoft Edge */
        color: $colorFontDefault;
    }
}
.row {
    margin: 0;
}
.site-context {
    overflow-y: hidden;
    height: 100%;
}
//Links
.remove_style_link {
    color: inherit;
    text-decoration: none !important;
    &:hover {
        color: inherit;
        text-decoration: none !important;
    }
    &:active {
        color: inherit;
        text-decoration: none !important;
    }
    &:visited {
        color: inherit;
        text-decoration: none !important;
    }
    &:focus {
        color: inherit;
        text-decoration: none !important;
    }
}
//Buttons
.remove_style_button {
    background: none;
    color: inherit;
    border: none;
    padding: 0;
    font: inherit;
    cursor: pointer;
    outline: inherit;
    &:hover,
    &:focus {
        outline: none !important;
    }
}
//collapse
.collapse-jp {
    display: none;
    opacity: 0;
    /*  transition: all 2s;
    -webkit-transition: all 2s;
    -moz-transition: all 2s;*/
}
.show-jp {
    display: block !important;
    opacity: 1 !important;
}

//End Variables
@import "./scssaux/hamburgers.scss";
@import "./scssaux/header.scss";
@import "./scssaux/fonts.scss";
@import "./scssaux/sidebar.scss";
@import "./scssaux/contextsite.scss";
@import "./scssaux/card.scss";
@import "./scssaux/colors.scss";
@import "./scssaux/forms.scss";
@import "./scssaux/buttons.scss";
@import "./scssaux/tabels.scss";
@import "./scssaux/modal.scss";
