@import "variablesandutilities.scss";

.bt {
    cursor: pointer;
    padding: 5px 15px;
    text-transform: uppercase;
    color: white !important;
    border: none;
    border-radius: 50px;
    outline: none !important;
    display: inline-flex;
    align-items: center;
    transition: transform 0.1s;
    //@extend .remove-style-link;
    text-decoration: none !important;
    &:hover {
        color: inherit;
        text-decoration: none !important;
        transform: scale(1.1);
    }
    &:active {
        color: inherit;
        text-decoration: none !important;
    }
    &:visited {
        color: inherit;
        text-decoration: none !important;
    }
    &:focus {
        color: inherit;
        text-decoration: none !important;
    } /*
    &:hover {
        transform: scale(1.1);
    }*/
    &--pr {
        @extend .bt;
        @include backLinearGradient(to right, $colorPrimary, $colorPrimaryDark);
        &--sm {
            @extend .bt--pr;
            font-size: 0.8em;
        }
        &--md {
            @extend .bt--pr;
            font-size: 1.2em;
        }
        &--lg {
            @extend .bt--pr;
            font-size: 1.6em;
        }
    }

    &--se {
        @extend .bt;
        @include backLinearGradient(
            to right,
            $colorSecoundary,
            $colorSecoundaryDark
        );
        &--sm {
            @extend .bt--se;
            font-size: 0.8em;
        }
        &--md {
            @extend .bt--se;
            font-size: 1.2em;
        }
        &--lg {
            @extend .bt--se;
            font-size: 1.6em;
        }
    }

    &--th {
        @extend .bt;
        @include backLinearGradient(to right, $colorThird, $colorThirdDark);
        &--sm {
            @extend .bt--th;
            font-size: 0.8em;
        }
        &--md {
            @extend .bt--th;
            font-size: 1.2em;
        }
        &--lg {
            @extend .bt--th;
            font-size: 1.6em;
        }
    }
}
