@import "variablesandutilities.scss";
$paddinCard: 10px;
$paddinHeader: 10px;
$marginTopCard: 30px;
$marginTopHeader: -30px;
$marginTopImg: -30px;
$borderRadius: 5px;
.cd {
    text-align: center;
    widows: 100%;
    padding: $paddinCard;
    margin-top: $marginTopCard;
    border-radius: $borderRadius;
    background: white;
    @include boxshadow(0, 0, 15px, 0px, $colorShadowdefault);
    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
        font-family: $fontFourth;
        color: #000;
        overflow: hidden;
        text-overflow: ellipsis;
        max-width: 100%;
    }
    p {
        font-family: $fontPrimary;
        color: #999999;
        font-size: 1.2em;
    }
    .cd-image {
        margin-top: $marginTopImg;
        img {
            border-radius: 50%;
            display: block;
            margin: 0 auto;
            width: 120px;
            height: 120px;
        }
    }
    .cd-header {
        @include boxshadow(0, 0, 15px, 0px, $colorShadowdefault);
        position: relative;
        font-size: 1.4em;
        color: white;
        font-family: $fontPrimary;
        text-align: center;
        padding: $paddinHeader;
        margin-top: $marginTopHeader;
        border-radius: $borderRadius * 2;
        margin-bottom: 20px;
        h1,
        h2,
        h3,
        h4,
        h5,
        h6 {
            font-family: $fontPrimary;
            color: white;
        }
    }
    &--one {
        @extend .cd;
        .cd-header {
            //@include boxshadow(0, 0, 7px, 0px, $colorPrimary);
            @include backLinearGradient(
                to right,
                $colorPrimary,
                $colorPrimaryDark
            );
        }
    }
    &--two {
        @extend .cd;
        .cd-header {
            //@include boxshadow(0, 0, 7px, 0px, $colorSecoundary);
            @include backLinearGradient(
                to right,
                $colorSecoundary,
                $colorSecoundaryDark
            );
        }
        .table-default {
            thead {
                th {
                    color: $colorSecoundary !important;
                    border-color: $colorSecoundary !important;
                }
            }
            .dataTables_wrapper {
                .dataTables_filter {
                    label {
                        input {
                            border-color: $colorSecoundary !important;
                            &:focus {
                                box-shadow: 0 0 0 0.2rem
                                    rgba($colorSecoundary, 0.25) !important;
                            }
                        }
                    }
                }
                .dataTables_paginate {
                    .page-item.active {
                        a {
                            @include backLinearGradient(
                                to right,
                                $colorSecoundary,
                                $colorSecoundaryDark
                            );
                            border-color: $colorSecoundary !important;
                        }
                    }
                    .page-link {
                        color: $colorSecoundary !important;
                        &:focus {
                            box-shadow: 0 0 0 0.2rem
                                rgba($colorSecoundary, 0.25) !important;
                        }
                    }
                }
            }
        }

        .form-default {
            .block-input {
                &::before {
                    border-bottom: 3px solid $colorSecoundary;
                }
            }
            .custom-control-input:not(:disabled):active
                ~ .custom-control-label::before {
                background-color: $colorSecoundary;
                border-color: $colorSecoundary;
            }
            .custom-control-input:checked ~ .custom-control-label::before {
                background-color: $colorSecoundary;
                border-color: $colorSecoundary;
            }
            .custom-control-input:focus ~ .custom-control-label::before {
                box-shadow: 0 0 0 0.2rem rgba($colorSecoundary, 0.25);
            }
            .custom-control-input:focus:not(:checked)
                ~ .custom-control-label::before {
                border-color: $colorSecoundary;
            }
        }
    }
    &--three {
        @extend .cd;
        .cd-header {
            // @include boxshadow(0, 0, 7px, 0px, $colorThird);
            @include backLinearGradient(to right, $colorThird, $colorThirdDark);
        }
        .table-default {
            thead {
                th {
                    color: $colorThird !important;
                    border-color: $colorThird !important;
                }
            }
            .dataTables_wrapper {
                .dataTables_filter {
                    label {
                        input {
                            border-color: $colorThird !important;
                            &:focus {
                                box-shadow: 0 0 0 0.2rem rgba($colorThird, 0.25) !important;
                            }
                        }
                    }
                }
                .dataTables_paginate {
                    .page-item.active {
                        a {
                            @include backLinearGradient(
                                to right,
                                $colorThird,
                                $colorThirdDark
                            );
                            border-color: $colorThird !important;
                        }
                    }
                    .page-link {
                        color: $colorThird !important;
                        &:focus {
                            box-shadow: 0 0 0 0.2rem rgba($colorThird, 0.25) !important;
                        }
                    }
                }
            }
        }
        .form-default {
            .block-input {
                &::before {
                    border-bottom: 3px solid $colorThird;
                }
            }
            .custom-control-input:not(:disabled):active
                ~ .custom-control-label::before {
                background-color: $colorThird;
                border-color: $colorThird;
            }
            .custom-control-input:checked ~ .custom-control-label::before {
                background-color: $colorThird;
                border-color: $colorThird;
            }
            .custom-control-input:focus ~ .custom-control-label::before {
                box-shadow: 0 0 0 0.2rem rgba($colorThird, 0.25);
            }
            .custom-control-input:focus:not(:checked)
                ~ .custom-control-label::before {
                border-color: $colorThird;
            }
        }
    }
}
.block-template-alternative {
    @include backLinearGradient(to right, $colorPrimary, $colorPrimaryDark);
    display: flex;
    align-items: center;
    min-height: 100%;
    overflow: hidden;
}
