/*$fontPrimary: "Abel", sans-serif;
$fontSecoundary: "Marvel", sans-serif;
$fontThird: "Poppins", sans-serif;
$fontFourth: "Poiret One", cursive;*/
.c-primary {
  color: #9c07ff !important;
}

.c-secoundary {
  color: #00ffcd !important;
}

.c-third {
  color: #ff7600 !important;
}

.c-success {
  color: green !important;
}

.c-danger {
  color: red !important;
}
/*# sourceMappingURL=colors.css.map */