@import "variablesandutilities.scss";

.c-primary {
    color: $colorPrimary !important;
}
.c-secoundary {
    color: $colorSecoundary !important;
}
.c-third {
    color: $colorThird !important;
}
.c-success {
    color: $colorSucessText !important;
}
.c-danger {
    color: $colorDangerText !important;
}
