@import "variablesandutilities.scss";
.context-site {
    width: 100%;
    max-height: 100%;
    min-height: 100%;
    transition: all 0.5s;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    overflow-y: auto;
    padding-bottom: 60px;
    background: $backContextSite;
    position: relative;
}
.open-context-site {
    overflow: hidden;
    transform: translate3d(-$sizeSidebar, 0, 0);
    &:before {
        content: "";
        position: absolute;
        width: 100%;
        height: 100%;
        z-index: 9999;
        top: 0;
        left: 0;
        background: rgba(#333, 0.7);
    }
}
//Footer
footer {
    width: 100%;
    height: 60px;
    padding: 10px;
    position: absolute;
    background: $backFooter;
    border-top: 1px solid #d5d5d5;
    box-shadow: 5px 0px 5px 0px #d5d5d5;
    z-index: 999;
}

@media (min-height: 480px) {
    .context-site {
        padding-bottom: 60px;
    }
    footer {
        right: 0;
        bottom: 0;
        position: fixed;
    }
}
// Extra small devices (portrait phones, less than 576px)
@media (min-width: 576px) {
}

// Small devices (landscape phones, less than 768px)
@media (min-width: 768px) {
}

// Medium devices (tablets, less than 992px)
@media (min-width: 992px) {
    .context-site {
        width: auto;
    }
    footer {
        width: calc(100% - #{$sizeSidebar});
    }
}

// Large devices (desktops, less than 1200px)
@media (min-width: 1200px) {
}
