/*$fontPrimary: "Abel", sans-serif;
$fontSecoundary: "Marvel", sans-serif;
$fontThird: "Poppins", sans-serif;
$fontFourth: "Poiret One", cursive;*/
.context-site {
  width: 100%;
  max-height: 100%;
  min-height: 100%;
  transition: all 0.5s;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  overflow-y: auto;
  padding-bottom: 60px;
  background: #e8e8e8;
  position: relative;
}

.open-context-site {
  overflow: hidden;
  -webkit-transform: translate3d(-270px, 0, 0);
          transform: translate3d(-270px, 0, 0);
}

.open-context-site:before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 9999;
  top: 0;
  left: 0;
  background: rgba(51, 51, 51, 0.7);
}

footer {
  width: 100%;
  height: 60px;
  padding: 10px;
  position: absolute;
  background: #e8e8e8;
  border-top: 1px solid #d5d5d5;
  -webkit-box-shadow: 5px 0px 5px 0px #d5d5d5;
          box-shadow: 5px 0px 5px 0px #d5d5d5;
  z-index: 999;
}

@media (min-height: 480px) {
  .context-site {
    padding-bottom: 60px;
  }
  footer {
    right: 0;
    bottom: 0;
    position: fixed;
  }
}

@media (min-width: 992px) {
  .context-site {
    width: auto;
  }
  footer {
    width: calc(100% - 270px);
  }
}
/*# sourceMappingURL=contextsite.css.map */