/*$fontPrimary: "Abel", sans-serif;
$fontSecoundary: "Marvel", sans-serif;
$fontThird: "Poppins", sans-serif;
$fontFourth: "Poiret One", cursive;*/
.font-primary, .font-primary--small, .font-primary--medium, .font-primary--big {
  font-family: "Raleway", sans-serif !important;
}

.font-primary--small {
  font-size: 1em !important;
}

.font-primary--medium {
  font-size: 1.2em !important;
}

.font-primary--big {
  font-size: 1.4em !important;
}

.font-secoundary, .font-secoundary--small, .font-secoundary--medium, .font-secoundary--big {
  font-family: "Montserrat", sans-serif !important;
}

.font-secoundary--small {
  font-size: 1em !important;
}

.font-secoundary--medium {
  font-size: 1.1em !important;
}

.font-secoundary--big {
  font-size: 1.4em !important;
}

.font-third, .font-third--small, .font-third--medium, .font-third--big {
  font-family: "Lato", sans-serif !important;
}

.font-third--small {
  font-size: 1em !important;
}

.font-third--medium {
  font-size: 1.2em !important;
}

.font-third--big {
  font-size: 1.4em !important;
}

.font-fourth, .font-fourth--small, .font-fourth--medium, .font-fourth--big {
  font-family: "Roboto", sans-serif !important;
}

.font-fourth--small {
  font-size: 1em !important;
}

.font-fourth--medium {
  font-size: 1.2em !important;
}

.font-fourth--big {
  font-size: 1.4em !important;
}
/*# sourceMappingURL=fonts.css.map */