//@import url("https://fonts.googleapis.com/css?family=B612+Mono|Nunito+Sans:200i,400|Poppins:300,400&display=swap");
//@import url("https://fonts.google.com/?selection.family=Abel|Marvel|Poiret+One|Poppins:300,400");
@import "variablesandutilities.scss";
$fontAux: "Poiret One", cursive;
.font-primary {
    @if $fontPrimary == $fontAux {
        font-weight: bold;
    }
    font-family: $fontPrimary !important;
    &--small {
        @extend .font-primary;
        font-size: 1em !important;
    }
    &--medium {
        @extend .font-primary;
        font-size: 1.2em !important;
    }
    &--big {
        @extend .font-primary;
        font-size: 1.4em !important;
    }
}
.font-secoundary {
    @if $fontSecoundary == $fontAux {
        font-weight: bold;
    }
    font-family: $fontSecoundary !important;
    &--small {
        @extend .font-secoundary;
        font-size: 1em !important;
    }
    &--medium {
        @extend .font-secoundary;
        font-size: 1.1em !important;
    }
    &--big {
        @extend .font-secoundary;
        font-size: 1.4em !important;
    }
}
.font-third {
    @if $fontThird == $fontAux {
        font-weight: bold;
    }
    font-family: $fontThird !important;

    &--small {
        @extend .font-third;
        font-size: 1em !important;
    }
    &--medium {
        @extend .font-third;
        font-size: 1.2em !important;
    }
    &--big {
        @extend .font-third;
        font-size: 1.4em !important;
    }
}
.font-fourth {
    @if $fontFourth == $fontAux {
        font-weight: bold;
    }
    font-family: $fontFourth !important;
    &--small {
        @extend .font-fourth;
        font-size: 1em !important;
    }
    &--medium {
        @extend .font-fourth;
        font-size: 1.2em !important;
    }
    &--big {
        @extend .font-fourth;
        font-size: 1.4em !important;
    }
}
