@import "variablesandutilities.scss";
.form-default {
    input,
    select,
    textarea,
    .custom-file {
        border: none;
        outline: none !important;
        width: 100%;
        font-size: 1.2em;
        margin-top: 0px;
        margin-bottom: 0px;
        color: $colorFontDefault;
        margin-top: 15px;
        background: transparent;
    }
    .custom-file input {
        margin-top: 0 !important;
    }
    .custom-file label {
        text-align: left;
        border: none !important;
        box-shadow: none !important;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        &::after {
            line-height: 1;
            background: $colorPrimary;
            color: white;
        }
    }
    .block-input-active {
        &::before {
            transform: scale3d(1, 1, 1) !important;
        }
    }
    .block-input {
        margin-top: 0px;
        margin-bottom: 15px;
        border: none !important;
        box-sizing: border-box;
        position: relative;
        box-shadow: inset 0px -2px 0px 0px $colorBorderInputs;
        padding-bottom: 5px;
        &::before {
            box-sizing: border-box;
            content: "";
            position: absolute;
            width: 100%;
            bottom: 0;
            left: 0;
            transform-origin: center;
            border-bottom: 3px solid $colorBorderInputsHover;
            transform: scale3d(0, 1, 1);
            transition: transform 0.5s !important;
        }
    }

    .form-default {
        .custom-control-input:not(:disabled):active
            ~ .custom-control-label::before {
            background-color: $colorPrimary;
            border-color: $colorPrimary;
        }

        .custom-control-input:checked ~ .custom-control-label::before {
            background-color: $colorPrimary;
            border-color: $colorPrimary;
        }
        .custom-control-input:focus ~ .custom-control-label::before {
            box-shadow: 0 0 0 0.2rem rgba($colorPrimary, 0.25);
        }
        .custom-control-input:focus:not(:checked)
            ~ .custom-control-label::before {
            border-color: $colorPrimary;
        }
    }
}
