@import "variablesandutilities.scss";

.header {
    @extend %back-primary-to-right;
    width: 100% !important;
    height: $heighHeader !important;
    padding: 5px;
    display: flex;
    align-items: center;
    // overflow: hidden;
}
.panel-user-sidebar {
    background: white;
    @extend %size-sidebar;
}
.context-header {
    width: 100%;
    height: 100%;
    text-align: right;
    div {
        //max-height: 65px;
        // overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
    }
}

.header-nav {
    display: inline-flex;
    align-items: center;
    padding: 0 10px;
    color: white;
    img {
        max-height: 60px;
    }
    .item-nav {
        margin-left: 15px;
        margin-right: 15px;
        position: relative;
        i {
            font-size: 1.4em;
        }
        .badge {
            position: absolute;
            top: -11px;
            right: -15px;
            min-width: 22px;
            height: 22px;
            line-height: 15px;
            font-size: 11px;
            background: red;
            color: white;
            border-radius: 11px;
        }
    }
    button {
        @extend .remove-style-button;
    }
    .dropdown-item {
        display: flex !important;
        color: $colorFontDefault;
        a {
            color: $colorFontDefault;
        }
    }
}
.header-text {
    text-align: center;
    font-size: 1.8em;
    color: white;
    font-family: $fontSecoundary;
    line-height: 60px;
    display: none;
    overflow: hidden;
}
.header-menu {
    line-height: 60px;
    width: 40px;
    position: relative;
    cursor: pointer;
    .open-menu {
        position: absolute;
        display: block;
        margin-left: auto;
        outline: none !important;
        z-index: 999999;
    }
}
// Extra small devices (portrait phones, less than 576px)
@media (min-width: 576px) {
    .header-text {
        display: block;
    }
}

// Small devices (landscape phones, less than 768px)
@media (min-width: 768px) {
}

// Medium devices (tablets, less than 992px)
@media (min-width: 992px) {
    .open-menu {
        display: none !important;
    }
    .header-menu {
        display: none;
    }
}

// Large devices (desktops, less than 1200px)
@media (min-width: 1200px) {
}
