@import "variablesandutilities.scss";

.modal-default {
    background: transparent !important;
    border: none !important;
    .close-modal {
        @extend .remove-style-button;
        color: white !important;
        transition: transform 0.1s;
        display: inline-block;
        position: absolute;
        top: 5px;
        right: 5px;

        &:hover {
            transform: scale(1.5);
        }
    }
}
