@import "variablesandutilities.scss";
.context-sidebar {
    @extend %size-sidebar;
    position: fixed;
    top: 0;
    right: 0;
    transform: translate3d($sizeSidebar + 30px, 0, 0);
    transition: all 0.5s;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    height: 100vh;
    z-index: 9999;
}
.open-sidebar {
    transform: translateZ(0);
}
.sidebar {
    @extend %size-sidebar;
    position: relative;
    height: 100%;
    padding: 0 15px;
    overflow: auto;
    //@include boxshadow(0, 0, 40px, 0px, $colorShadowdefault);
    @include boxshadows(
        (
            0 16px 38px -12px rgba(0, 0, 0, 0.56),
            0 4px 25px 0 rgba(0, 0, 0, 0.12),
            0 8px 10px -5px rgba(0, 0, 0, 0.2)
        )
    );
}
.sidebar-background {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-image: url($backgroundImageSidebar);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    opacity: 0.2;
}
.image-user-sidebar {
    height: 100px;
    padding: 10px;
    padding-bottom: 0;
    img {
        max-width: 100%;
        max-height: 100%;
        display: block;
        margin: 0 auto;
    }
}
.menu-sidebar {
    position: relative;
}
.context-item-sidebar {
    margin-bottom: 15px;
}
@mixin item-sidebar {
    display: flex;
    align-items: center;
    font-size: $sizeFontItemSideBar;
    padding: 10px;
    cursor: pointer;
    font-family: $fontThird;
    border-radius: 3px;
    font-weight: bold;
    i {
        margin-right: 10px;
    }
    @extend .remove-style-link;
}
.item-sidebar {
    @include item-sidebar();
    color: $colorItemSidebar;
    i {
        color: $colorIconItemSidebar;
        font-size: 25px;
    }
    &:hover {
        background: hsla(0, 0%, 78%, 0.6);
    }
}
.item-sidebar-active {
    @include item-sidebar();
    color: $colorItemSidebarActive;
    //background: $colorPrimary;
    @extend %back-primary-to-right;
    i {
        color: white;
        font-size: 1.4em;
    }
}
.button-drop {
    @extend .remove-style-button;
    margin-left: auto;
    line-height: 1;
    display: flex;
    .hamburger-inner,
    .hamburger-inner::before,
    .hamburger-inner::after {
        background-color: $colorItemSidebar !important;
        width: 18px !important;
        height: 3px !important;
    }
    .hamburger-inner::before {
        top: -5px !important;
    }
    .hamburger-inner::after {
        bottom: -5px !important;
    }
}
.drop-item-sidebar {
    padding: 0 0 0 40px;
    width: 100%;
    li {
        list-style: none;
        font-family: $fontThird;
        font-size: $sizeFontItemSideBar * 0.8;
        font-weight: 300;
        padding: 5px 0;
        font-weight: bold;
    }
    a {
        @extend .remove-style-link;
    }
}

// Extra small devices (portrait phones, less than 576px)
@media (min-width: 576px) {
}

// Small devices (landscape phones, less than 768px)
@media (min-width: 768px) {
}

// Medium devices (tablets, less than 992px)
@media (min-width: 992px) {
    .context-sidebar {
        position: relative;
        float: left;
        transform: translate3d(0, 0, 0);
    }
}

// Large devices (desktops, less than 1200px)
@media (min-width: 1200px) {
}

/*
// Extra small devices (portrait phones, less than 576px)
@media (min-width: 576px) {
}

// Small devices (landscape phones, less than 768px)
@media (min-width: 768px) {
}

// Medium devices (tablets, less than 992px)
@media (min-width: 992px) {
}

// Large devices (desktops, less than 1200px)
@media (min-width: 1200px) {
}
*/
