@import "variablesandutilities.scss";
%fontCommon {
    font-family: $fontFourth;
    //font-weight: bold !important;
    font-size: 1em;
}

.table-default {
    .row {
        align-items: baseline;
    }
    thead {
        th {
            @extend %fontCommon;
            color: $colorPrimary;
            border-color: $colorPrimary;
            border-top: none;
        }
    }
    tbody {
        font-family: $fontPrimary;
        font-size: 1em;
    }
    .dtr-tittle,
    .dtr-data {
        display: flex;
        justify-content: center;
    }
    .dataTables_wrapper {
        .dataTables_length {
            label {
                @extend %fontCommon;
                text-align: center !important;
            }
        }
        .dataTables_filter {
            text-align: center !important;
            label {
                @extend %fontCommon;
                input {
                    border-color: $colorPrimary;
                    &:focus {
                        box-shadow: 0 0 0 0.2rem rgba($colorPrimary, 0.25);
                    }
                }
            }
        }
        .dataTables_info {
            @extend %fontCommon;
        }
        .dataTables_paginate {
            @extend %fontCommon;
            font-size: 1em !important;
            text-align: center !important;
            ul {
                display: inline-flex;
            }
            .page-item.active {
                a {
                    @include backLinearGradient(
                        to right,
                        $colorPrimary,
                        $colorPrimaryDark
                    );
                    border-color: $colorPrimary;
                    color: white !important;
                }
            }
            .page-link {
                color: $colorPrimary;
                &:focus {
                    box-shadow: 0 0 0 0.2rem rgba($colorPrimary, 0.25);
                }
            }
        }
    }
}

//Extra small devices (portrait phones, less than 576px)
@media (min-width: 576px) {
}

// Small devices (landscape phones, less than 768px)
@media (min-width: 768px) {
    .table-default {
        .dataTables_wrapper {
            .dataTables_info {
                text-align: left !important;
            }
            .dataTables_length {
                text-align: left !important;
            }
            .dataTables_filter {
                text-align: right !important;
            }
            .dataTables_paginate {
                text-align: right !important;
            }
        }
    }
}

// Medium devices (tablets, less than 992px)
@media (min-width: 992px) {
}

// Large devices (desktops, less than 1200px)
@media (min-width: 1200px) {
}
