/*$fontPrimary: "Abel", sans-serif;
$fontSecoundary: "Marvel", sans-serif;
$fontThird: "Poppins", sans-serif;
$fontFourth: "Poiret One", cursive;*/
/*# sourceMappingURL=variablesandutilities.css.map */